/*.relative{
	position: relative;
	width:400px;
	height:200px;
	background-color: red;
}

.absolute{
	position: absolute;
	width:100%;
	height:100%;
	background-color: green;
	opacity: 0.4;
}

#video{
	position: relative;
	width:600px;
	height: 200px;
	top:40px;
	left:50px;

}

.layer{
	position:absolute;
	width:600px;
}

video{
		position: absolute;
}

video::-webkit-media-controls {
  display:none !important;
  z-index:5 !important;
}*/